
.home-heading {
    font-size: 36px;
    color: #000000; /* Text color */
    background-color: #a6ca9a; /* Background color */
    padding: 10px; /* Add some padding for spacing */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center-align text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }