.form-container {
    background-color: #e0e7cd;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    margin-top:  100px;
  }
  
  .form-label {
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  
  .form-button {
    background-color: #62663b;
    color: #fff;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #627a94;
  }